.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.container {
  margin-top: 100px;
  margin-bottom: 50px;
}

.App-title {
  font-size: 1.5em;
  margin-top: 100px;
}

.App-intro {
  font-size: large;
}

.navbar {
  border: 1px;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1000;
}

.is-hidden {
  opacity: 0;
  -webkit-transform: translate(0, -10px);
  -webkit-transition: -webkit-transform 0.2s, background 0.3s, color 0.3s,
    opacity 0.3s;
}

.is-visible {
  opacity: 1;
  -webkit-transform: translate(0, 0);
  -webkit-transition: -webkit-transform 0.2s, background 0.3s, color 0.3s,
    opacity 0.3s;
}
.App-btn {
  padding: 10px 16px;
  font-size: 12px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #014960;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.App-btn:hover {
  background-color: #01303f;
  color: #fff;
}

.App-btn:active {
  color: #fff;
  background-color: #01303f;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
.App-btn-sm {
  padding: 6px 12px;
  font-size: 10px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #014960;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.App-btn-sm:hover {
  background-color: #01303f;
  color: #fff;
}

.App-btn-sm:active {
  color: #fff;
  background-color: #01303f;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.warning {
  color: #fff;
  background-color: #cc3300;
}

.warning:hover {
  background-color: #b22f03;
  color: #fff;
}

.warning:active {
  color: #fff;
  background-color: #b22f03;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
